.topnav {
    background-color: black;
    height: 50px;
    position: fixed;
}

.title {
  font-family: Futura;
  font-size: 30px;
  position: absolute;
  transform: translate(40%, 0%);
  color: white;
}

.titleLeft {
  font-family: Futura;
  font-size: 16px;
  position: absolute;
  transform: translate(40%, 20%);
  color: white;
}

.lineNav {
  background-color: white;
  height: 20px;
  width:2px;
  position: absolute;
  transform: translate(430%, -60%);
}


.firstSection {
  background-image: url("background.png");
}

.firstdiv {
  height: 350px;
  background-color: rgba(0, 0, 0, 0.59);
}

.a {
  font-size: 100px;
  font-family: Futura;
  position: absolute;
  transform: translate(75%, 70%);
  color: white;
}

.footerSection {
  height: 40px;
  background-color: #2D2D2D;
  color: white;
}

.footerLetter {
  font-family: Futura;
  font-weight: normal;
  color: white;
  position: absolute;
  transform: translate(430%, 80%);
  font-size: 12px;
}

.secondSection{
  background-color: white;
  height: 350px;
}

.leftView {
  width: 600px;
  height: 450px;
}

.aLeft{
  font-family: 'Avenir Next';
  font-size: 30px;
  color: black;
  font-weight:500;
  position: absolute;
  transform: translate(20%, 30%);
}

.rightView {
  width: 600px;
  height: 450px;
}

.aRight{
  font-family: 'Avenir';
  font-size: 26px;
  position: absolute;
  transform: translate(100%, 50%);
}

.line {
  background-color: black;
  height: 300px;
  width:2px;
  position: absolute;
  transform: translate(430%, -60%);
}

.icons {
  position: absolute;
  transform: translate(500%, 250%);
  font-size: 12px;
}
.icons1 {
  position: absolute;
  transform: translate(700%, 250%);
  font-size: 12px;
}

.goButton{
  background-color: #D24D48;
  font-family: 'Avenir Next';
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  position: absolute;
  transform: translate(150%, 700%);
}
